In [2]:
import pandas as pd
import numpy as np

# Content

In [4]:
content = pd.read_csv('Content.csv')
content

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...
...,...,...,...,...,...,...
995,995,b4cef9ef-627b-41d7-a051-5961b0204ebb,5b62e10e-3c19-4d28-a57c-e9bdc3d6758d,video,public speaking,NaN
996,996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,4fe420fa-a193-4408-bd5d-62a020233609,GIF,technology,https://socialbuzz.cdn.com/content/storage/7a7...
997,997,435007a5-6261-4d8b-b0a4-55fdc189754b,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,audio,veganism,https://socialbuzz.cdn.com/content/storage/435...
998,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,GIF,culture,https://socialbuzz.cdn.com/content/storage/4e4...
999,999,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...

delete columns

In [115]:
# Check duplicate data
duplicates = content.duplicated()
duplicates.sum()

0

In [116]:
content1 = content.drop(['Unnamed: 0', 'User ID','URL'], axis=1)

In [117]:
content1

                               Content ID   Type         Category
0    97522e57-d9ab-4bd6-97bf-c24d952602d2  photo         Studying
1    9f737e0a-3cdd-4d29-9d24-753f4e3be810  photo   healthy eating
2    230c4e4d-70c3-461d-b42c-ec09396efb3f  photo   healthy eating
3    356fff80-da4d-4785-9f43-bc1261031dc6  photo       technology
4    01ab84dd-6364-4236-abbb-3f237db77180  video             food
..                                    ...    ...              ...
995  b4cef9ef-627b-41d7-a051-5961b0204ebb  video  public speaking
996  7a79f4e4-3b7d-44dc-bdef-bc990740252c    GIF       technology
997  435007a5-6261-4d8b-b0a4-55fdc189754b  audio         veganism
998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7    GIF          culture
999  75d6b589-7fae-4a6d-b0d0-752845150e56  audio       technology

[1000 rows x 3 columns]

# Reactions

In [43]:
reactions = pd.read_csv('Reactions.csv')
reactions

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
...,...,...,...,...,...
25548,25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,2020-06-27 09:46:48
25549,25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,2021-02-16 17:17:02
25550,25550,75d6b589-7fae-4a6d-b0d0-752845150e56,NaN,interested,2020-09-12 03:54:58
25551,25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,2020-11-04 20:08:31
25552,25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,2021-01-04 04:55:11

In [26]:
# Check duplicate data
duplicates = reactions.duplicated()
duplicates.sum()

0

In [44]:
reactions.isna().sum()

Unnamed: 0       0
Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [119]:
reactions1 = reactions.drop(['Unnamed: 0', 'User ID', 'Datetime'], axis=1)

In [120]:
reactions1

                                 Content ID        Type
0      97522e57-d9ab-4bd6-97bf-c24d952602d2         NaN
1      97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust
2      97522e57-d9ab-4bd6-97bf-c24d952602d2     dislike
3      97522e57-d9ab-4bd6-97bf-c24d952602d2      scared
4      97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust
...                                     ...         ...
25548  75d6b589-7fae-4a6d-b0d0-752845150e56     dislike
25549  75d6b589-7fae-4a6d-b0d0-752845150e56   intrigued
25550  75d6b589-7fae-4a6d-b0d0-752845150e56  interested
25551  75d6b589-7fae-4a6d-b0d0-752845150e56     worried
25552  75d6b589-7fae-4a6d-b0d0-752845150e56     cherish

[25553 rows x 2 columns]

In [123]:
reactions1_missing = reactions1[reactions['Type'].isna()]
reactions1_missing

                                 Content ID Type
0      97522e57-d9ab-4bd6-97bf-c24d952602d2  NaN
46     9f737e0a-3cdd-4d29-9d24-753f4e3be810  NaN
62     230c4e4d-70c3-461d-b42c-ec09396efb3f  NaN
94     356fff80-da4d-4785-9f43-bc1261031dc6  NaN
102    01ab84dd-6364-4236-abbb-3f237db77180  NaN
...                                     ...  ...
25445  b4cef9ef-627b-41d7-a051-5961b0204ebb  NaN
25449  7a79f4e4-3b7d-44dc-bdef-bc990740252c  NaN
25454  435007a5-6261-4d8b-b0a4-55fdc189754b  NaN
25499  4e4c9690-c013-4ee7-9e66-943d8cbd27b7  NaN
25540  75d6b589-7fae-4a6d-b0d0-752845150e56  NaN

[980 rows x 2 columns]

In [127]:
reactions1 = reactions1.drop(reactions1_missing.index)

In [128]:
reactions1

                                 Content ID        Type
1      97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust
2      97522e57-d9ab-4bd6-97bf-c24d952602d2     dislike
3      97522e57-d9ab-4bd6-97bf-c24d952602d2      scared
4      97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust
5      97522e57-d9ab-4bd6-97bf-c24d952602d2  interested
...                                     ...         ...
25548  75d6b589-7fae-4a6d-b0d0-752845150e56     dislike
25549  75d6b589-7fae-4a6d-b0d0-752845150e56   intrigued
25550  75d6b589-7fae-4a6d-b0d0-752845150e56  interested
25551  75d6b589-7fae-4a6d-b0d0-752845150e56     worried
25552  75d6b589-7fae-4a6d-b0d0-752845150e56     cherish

[24573 rows x 2 columns]

# ReactionTypes

In [99]:
reactiontypes = pd.read_csv('ReactionTypes.csv')
reactiontypes

    Unnamed: 0         Type Sentiment  Score
0            0        heart  positive     60
1            1         want  positive     70
2            2      disgust  negative      0
3            3         hate  negative      5
4            4   interested  positive     30
5            5  indifferent   neutral     20
6            6         love  positive     65
7            7   super love  positive     75
8            8      cherish  positive     70
9            9        adore  positive     72
10          10         like  positive     50
11          11      dislike  negative     10
12          12    intrigued  positive     45
13          13      peeking   neutral     35
14          14       scared  negative     15
15          15      worried  negative     12

In [91]:
duplicates = reactiontypes.duplicated()
duplicates.sum()

0

In [102]:
reactiontypes.rename(columns={'Type': 'Reaction Type'}, inplace=True)

In [103]:
reactiontypes

   Reaction Type Sentiment  Score
0          heart  positive     60
1           want  positive     70
2        disgust  negative      0
3           hate  negative      5
4     interested  positive     30
5    indifferent   neutral     20
6           love  positive     65
7     super love  positive     75
8        cherish  positive     70
9          adore  positive     72
10          like  positive     50
11       dislike  negative     10
12     intrigued  positive     45
13       peeking   neutral     35
14        scared  negative     15
15       worried  negative     12

# Merge

In [129]:
combined_table = pd.merge(content1, reactions1, on=['Content ID'], how='inner')

In [130]:
combined_table

                                 Content ID Type_x    Category      Type_y
0      97522e57-d9ab-4bd6-97bf-c24d952602d2  photo    Studying     disgust
1      97522e57-d9ab-4bd6-97bf-c24d952602d2  photo    Studying     dislike
2      97522e57-d9ab-4bd6-97bf-c24d952602d2  photo    Studying      scared
3      97522e57-d9ab-4bd6-97bf-c24d952602d2  photo    Studying     disgust
4      97522e57-d9ab-4bd6-97bf-c24d952602d2  photo    Studying  interested
...                                     ...    ...         ...         ...
24568  75d6b589-7fae-4a6d-b0d0-752845150e56  audio  technology     dislike
24569  75d6b589-7fae-4a6d-b0d0-752845150e56  audio  technology   intrigued
24570  75d6b589-7fae-4a6d-b0d0-752845150e56  audio  technology  interested
24571  75d6b589-7fae-4a6d-b0d0-752845150e56  audio  technology     worried
24572  75d6b589-7fae-4a6d-b0d0-752845150e56  audio  technology     cherish

[24573 rows x 4 columns]

In [131]:
combined_table1 = combined_table.rename(columns={'Type_x': 'Content Type', 'Type_y': 'Reaction Type'})

In [132]:
combined_table1

,Content ID,Content Type,Category,Reaction Type
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,dislike
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,scared
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,interested
...,...,...,...,...
24568,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,technology,dislike
24569,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,technology,intrigued
24570,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,technology,interested
24571,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,technology,worried
24572,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,technology,cherish

In [133]:
combined_table_final = pd.merge(combined_table1, reactiontypes, on=['Reaction Type'], how='inner')

In [134]:
combined_table_final

,Content ID,Content Type,Category,Reaction Type,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating,disgust,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating,disgust,negative,0
...,...,...,...,...,...,...
24568,435007a5-6261-4d8b-b0a4-55fdc189754b,audio,veganism,adore,positive,72
24569,435007a5-6261-4d8b-b0a4-55fdc189754b,audio,veganism,adore,positive,72
24570,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,culture,adore,positive,72
24571,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,culture,adore,positive,72
24572,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,culture,adore,positive,72

In [136]:
combined_table_final.to_excel('Cleaned Table.xlsx', index=False)